# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Docker files
*.log
*.tmp
*.pid
*.swp
*.swo
*.bak
*.orig
*.rej
*.~*

# Spider/Scrapy cache files
.scrapy/
*.db
*.sqlite
*.sqlite3
*.dat
*.log
*.bak
*.swp
*.swo
*.tmp

# Python env files
.env
.env.local
.env.*.local
.vscode/

# scrapy dev settings file
scrapy/settings/dev.py

# Enviornment files
api/apienv